<!DOCTYPE html>
<html>
  <head>
    <title>Osono</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Michroma|Reem+Kufi" rel="stylesheet">
    <%= favicon_link_tag 'http://res.cloudinary.com/ssj6porfy/image/upload/v1505954437/logoNew_vmlcop.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
